<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.raman365.i7437763">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.raman365.i7437763.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.raman365.i7437763.Difficulty"></activity>
        <activity android:name="com.example.raman365.i7437763.Instructions"></activity>
        <activity android:name="com.example.raman365.i7437763.Easy"></activity>
        <activity android:name="com.example.raman365.i7437763.Medium"></activity>
        <activity android:name="com.example.raman365.i7437763.Hard"></activity>


    </application>

</manifest>